* {
    color: white;
    background-color: #ff9cb2;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    font-family: 'Lexend', sans-serif;
}

a{
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    


#logo{
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    margin: 10px 20px;
}

i{
    color: black;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
}

.paginas{
    display: flex;
    list-style: none;
    font-size: 110%;
    font-weight: bold;
    gap: 15%;
    justify-content: flex-end;
    float: right;
    margin-right: 3%;
    text-align: center;
}

.paginas a:hover{
    color: black;
    font-size: 130%;
}

#piedeinicio{
    text-align: center;
    color: black;
    font-weight: bold;
    position: fixed;
    margin-left: 42%;
    bottom: 0;
    font-size: 55%;
}

.presentacion{
    font-size: 40px;
    text-align: center;
    border-radius: 25px;
    border-color: rgb(207, 204, 204);
    border-style: dashed;
    color: #ff9cb2;
    font-weight: bold;
    background-color: white;
    width: 60%;
    margin: 40px 280px;
    
}

#invitacion{
    margin: 40px 8px;
    font-size: 40px;
    text-align: center;
}

.animate__animated.animate__heartBeat{
    --animate-duration: 6s;
  }

iframe{
    margin: 0% 27%;
    max-width: 90%;
}

.img-quienessomos{
    width: 30%;
    margin: 2% 33%;
}

.p-quienessomos{
    font-size: 20px;
    text-align: center;
    margin-top: 0%;
}

.tema-item-publicacion-titulo{
    display: none;
}

.tema-item-publicacion-texto{
    display: none;
}

.img-tema{
    max-width: 80%;
    max-height: 80%;
}

.temas-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.formulario{
    margin: 14px 315px;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(207, 204, 204);
    border-style: dashed;
    color: #ff9cb2;
    font-weight: bold;
    background-color: white;
    font-family: 'Lexend', sans-serif;
    width: 860px;
}

.formulario p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #ff9cb2;
    font-weight: bold;
    background-color: white;
}

.formulario label{
    color: #ff9cb2;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.formulario input{
    width: 350px;
    background-color: white;
    color: #ff9cb2;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    margin: 1%;
    padding: 1%;
}

.formulario input:hover{
    width: 400px;
}

.formulario div{
    background-color: white;
}

}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    


        #logo{
            font-family: 'Fredericka the Great', cursive;
            font-size: 40px;
            margin: 30px 20px;
        }
        
        i{
            color: black;
        }
        
        nav{
            display: flex;
            flex-direction: row-reverse;
            position: fixed;
            top: 10px;
            left: 350px;
        }
        
        .paginas{
            display: flex;
            list-style: none;
            font-size: 12px;
            font-weight: bold;
            gap: 8px;
            text-align: center;
        }
        
        .paginas a:hover{
            color: black;
            font-size: 15px;
        }
        
        #piedeinicio{
            text-align: center;
            color: black;
            font-weight: bold;
            position: fixed;
            margin-left: 90%;
            bottom: 0;
            font-size: 12px;
        }
        
        .presentacion{
            font-size: 30px;
            text-align: center;
            border-radius: 25px;
            border-color: rgb(207, 204, 204);
            border-style: dashed;
            color: #ff9cb2;
            font-weight: bold;
            background-color: white;
            width: 60%;
            margin: 40px 110px;
            
        }
        
        #invitacion{
            margin: 40px 15px;
            font-size: 30px;
            text-align: center;
        }
        
        .animate__animated.animate__heartBeat{
            --animate-duration: 6s;
          }
        
        iframe{
            margin: 0% 10%;
            max-width: 90%;
        }
        
        .img-quienessomos{
            width: 30%;
            margin: 2% 33%;
        }
        
        .p-quienessomos{
            font-size: 17px;
            text-align: center;
            margin-top: 0%;
        }
        
        .tema-item-publicacion-titulo{
            display: none;
        }
        
        .tema-item-publicacion-texto{
            display: none;
        }
        
        .img-tema{
            max-width: 80%;
            max-height: 80%;
        }
        
        .temas-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
        }
        
        .formulario{
            margin: 14px 115px;
            padding: 0px;
            font-size: 12px;
            text-align: center;
            border-radius: 5px;
            border-color: rgb(207, 204, 204);
            border-style: dashed;
            color: #ff9cb2;
            font-weight: bold;
            background-color: white;
            font-family: 'Lexend', sans-serif;
            width: 460px;
        }
        
        .formulario p{
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: #ff9cb2;
            font-weight: bold;
            background-color: white;
        }
        
        .formulario label{
            color: #ff9cb2;
            background-color: white;
            font-weight: bold;
            font-size: 12px;
        }
        
        .formulario input{
            width: 350px;
            background-color: white;
            color: #ff9cb2;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Lexend', sans-serif;
            margin: 1%;
            padding: 1%;
        }
        
        .formulario input:hover{
            width: 400px;
        }
        
        .formulario div{
            background-color: white;
        }
        
}

@media screen and (max-width: 640px) {
    


            #logo{
                font-family: 'Fredericka the Great', cursive;
                font-size: 30px;
                margin: 45px 20px;
            }
            
            i{
                color: black;
            }
            
            nav{
                display: flex;
                flex-direction: row-reverse;
                position: fixed;
                top: 0;
                margin: 0px 150px;
            }
            
            .paginas{
                display: flex;
                list-style: none;
                font-size: 10px;
                font-weight: bold;
                gap: 10px;
                justify-content: flex-end;
                float: right;
                text-align: center;
            }
            
            .paginas a:hover{
                color: black;
                font-size: 15px;
            }
            
            #piedeinicio{
                text-align: center;
                color: black;
                font-weight: bold;
                position: fixed;
                margin-left: 42%;
                bottom: 0;
                font-size: 55%;
            }
            
            .presentacion{
                font-size: 25px;
                text-align: center;
                border-radius: 25px;
                border-color: rgb(207, 204, 204);
                border-style: dashed;
                color: #ff9cb2;
                font-weight: bold;
                background-color: white;
                width: 80%;
                margin: 20px 20px;
                
            }
            
            #invitacion{
                margin: 30px 10px;
                font-size: 25px;
                text-align: center;
            }
            
            .animate__animated.animate__heartBeat{
                --animate-duration: 6s;
              }
            
            iframe{
                margin: 0% 3%;
                max-width: 90%;
            }
            
            .img-quienessomos{
                width: 30%;
                margin: 2% 33%;
            }
            
            .p-quienessomos{
                font-size: 12px;
                text-align: center;
                margin-top: 0%;
            }
            
            .tema-item-publicacion-titulo{
                display: none;
            }
            
            .tema-item-publicacion-texto{
                display: none;
            }
            
            .img-tema{
                max-width: 80%;
                max-height: 80%;
            }
            
            .temas-grid{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                justify-items: center;
            }
            
            .formulario{
                margin: 14px 20px;
                padding: 0px;
                font-size: 12px;
                text-align: center;
                border-radius: 5px;
                border-color: rgb(207, 204, 204);
                border-style: dashed;
                color: #ff9cb2;
                font-weight: bold;
                background-color: white;
                font-family: 'Lexend', sans-serif;
                width: 270px;
            }
            
            .formulario p{
                margin: 0;
                padding: 0;
                font-size: 10px;
                color: #ff9cb2;
                font-weight: bold;
                background-color: white;
            }
            
            .formulario label{
                color: #ff9cb2;
                background-color: white;
                font-weight: bold;
                font-size: 10px;
            }
            
            .formulario input{
                width: 250px;
                background-color: white;
                color: #ff9cb2;
                font-size: 12px;
                font-weight: bold;
                font-family: 'Lexend', sans-serif;
                margin: 1%;
                padding: 1%;
            }
            
            .formulario input:hover{
                width: 300px;
            }
            
            .formulario div{
                background-color: white;
            }
            
}